.header
{
    font-size: 16px;
    width: 100%;
    margin: 0%; 
    box-shadow: 5px 5px 5px grey;
    
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(255, 220, 220);

}
.note
{
    color: black;
}
.copy_right_footer
{
    position: fixed;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    background-color: rgb(243, 190, 190);
    line-height: 3;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(255, 137, 137);
    font-family: Forte;  
    border-style: dashed;
    border-color: navy;
}

canvas
{
  box-shadow: 5px 5px 5px rgb(255, 45, 80);
  border-radius: 20px;
  border-color: hotpink;
  border-style: dashed;
  background-color: '#bcbcf2';
}